<div class="subtitle">
  <p>
  {% if site.show-subtitle %}
    {{ site.description.subtitle }}
  {% endif %}
  {% if site.display-social-icons %}
    {% if site.show-subtitle and site.display-social-icons %}
    <br>
    {% endif %}
    {{ site.var_on_the_web }}:&nbsp;
    <br/>
    {% if site.twitter %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.twitter }}" >
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.youtube %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.youtube }}" >
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.instagram %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.instagram }}" >
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.tumblr %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.tumblr }}" >
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.facebook %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.facebook }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook-official fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.google-plus %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.google-plus }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.flickr %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.flickr }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.reddit %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.reddit }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.soundcloud %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.soundcloud }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.medium %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.medium }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.linkedin %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.linkedin }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.github %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.github }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.behance %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.behance }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-behance fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.codepen %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.codepen }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.dribbble %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.dribbble }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.trello %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.trello }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-trello fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.stack-overflow %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.stack-overflow }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.bitcoin %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.bitcoin }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bitcoin fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.paypal %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.paypal }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-paypal fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.weibo %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.weibo }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endif %}
    {% if site.zhihu %}
        <a style="color:rgba(0,0,0,.7)" href="{{ site.zhihu }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x " ></i>
                <i class="fa fa-stack-1x fa-inverse">知</i>
            </span>
        </a>
    {% endif %}
  {% endif %}
  </p>
</div>
