---
layout: default
---
<div class="row">
  <div class="col-md-13 aside3-title">
    <br>
  </div>
  <div class="col-md-13 aside3-content">
    <br />
    <div id="content">
      {{ content }}
    </div>
    <br />
    <div class="row">
      {% assign sortbook = page.books|sort:"start_time" %}
      {% for book in sortbook reversed %}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">{{ book.title }}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 col-xs-12 center">
                    <table class="table table-bordered" style="border:#FFF">
                        <tbody>
                            <tr><td><p class="img-with-source" ><img src="/img/books/{{ book.cover }}" alt="{{ book.title }}" class="img-thumbnail"></p></td></tr>
                        </tbody>
                  </table>
                </div>
                <div class="col-md-8 col-xs-12">
                  <table class="table table-bordered">
                    <tbody>
                      <tr><td style="width:80px;">作者</td><td>{{ book.author }}</td></tr>
                      {% if book.origin_title %}
                      <tr><td>原作名</td><td>{{ book.origin_title }}</td></tr>
                      {% endif %}
                      {% if book.translator %}
                      <tr><td>译者</td><td>{{ book.translator }}</td></tr>
                      {% endif %}
                      <tr><td>出版社</td><td>{{ book.publisher }}</td></tr>
                      <tr><td>语言</td><td>{{ book.language }}</td></tr>
                      <tr><td>豆瓣链接</td><td><a class="booklink" target="_blank" href="https://book.douban.com/subject/{{ book.link }}" title="{{ book.link }}">图书链接</a> </td></tr>
                      <tr><td>豆瓣评分</td><td><span>{{ book.score }}</span></td></tr>
                      <tr><td>状态</td>
                        <td>
                          {% if book.status == '已读' %}
                            <span class="label label-success">{{ book.status }}</span>
                          {% elsif book.status == '在读' %}
                            <span class="label label-info">{{ book.status }}</span>
                          {% elsif book.status == '未读' %}
                            <span class="label label-default">{{ book.status }}</span>
                          {% endif %}
                        </td>
                      </tr>
                      {% if book.description %}
                      <tr><td>评论</td><td>{{ book.description }}</td></tr>
                      {% endif %}
                      {% if book.tags %}
                      <tr>
                          <td>标签</td>
                          <td>
                              {% for tag in book.tags %}
                                <span class="label label-default">{{ tag }}</span>
                              {% endfor %}
                          </td>
                      </tr>
                      {% endif %}
                      <tr><td>阅读时间</td><td>{{ book.start_time }} ~ {{ book.end_time }}</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
